.job-container{
        height:100%;
        width:100%;
        padding-bottom:48px;
        .card-container{
            padding-bottom:48px;
            height:100%;
            overflow-y: scroll;
            margin-bottom:0;
            overflow-x:hidden;
            
    }
    .fixed-action-btn.direction-bottom{
        bottom:auto;
        padding-top: 10px;
        right: 3%;
        ul>li+li{
            margin-top:0;
        }
    }
}
.card-container::-webkit-scrollbar {
    display: none;
}
