@import "../../assets/css/variables.scss";

.job-container{
        height:100%;
        width:100%;
        padding-bottom:48px;
        min-width:341px;
        background-color: $tracker-background;

        @media only screen and (min-width: 401px){
            display: block !important;
            padding-bottom:0;
        }

        .card-container{
            height:calc(100% - 4rem - 39px); //4 rem to account for padding and margin
            width:100%;
            overflow-y: scroll;
            overflow-x:hidden;
            @media only screen and (min-width: 601px){
                padding-bottom:0px;
            }
            
    }
}
.card-container::-webkit-scrollbar {
    display: none;
}
