


.tracker-container{
    background-color:white;
    height:86.5%;
    margin:0;
    display:flex;
    width: 100%;
    
    .job-container{
        background-color:lightgray;
        height:100%;
        width:100%;
        // padding-bottom: 14%;

        .card-container{
            background-color:rgba(243, 243, 243, 0.856);
            height:94%;
            overflow-y: scroll;
            margin-bottom:0;
            
            .card{
                box-shadow: none;
            }
            .row{
                margin-bottom: 0;
            }

            .card{
                border-radius:5px;
            }
        }
        .card-container::-webkit-scrollbar {
            display: none;
        }
    }
    

    > .carousel{
        height: 100%;
    }
}











