@import '../../assets/css/variables.scss';

.add-form-progress{
    position: relative;
    height:calc(100% - 56px);
    width:100%;
    top:0;
    left:0;
    max-width:992px;
    background-color:$tracker-background;
    @media only screen and (min-width: 601px){
        height:calc(100% - 64px);
    }

    .errorMsg{
        color: red;
        margin: 0 0 1rem 2.5rem;
        font-size: 1rem;
        top: 90%;
        
        .warning{
            position: absolute;
            margin-top: 0.7rem;
            margin-left: 0.5rem;
        }
        .link{
            font-size: 1rem;
        }
    }

    .form{
        height:100%;
        width:100%;
        position:relative;
        overflow: scroll;

        form{
            height: 100%;
            width: 100%;

            .contact-row{
                margin: 1rem 0;
            }
            .extra-contact{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .form::-webkit-scrollbar {
        display: none;
    }

}
