@import '../../assets/css/variables.scss';

.collapsible{
    position: relative;

    .collapsible-body{
        padding: 1rem;
        background-color:$contact-collapsible;
        color:$main-text;
    }
    .collapsible-body.col-body-none{
        padding: 0px;
        color:$main-text;
    }

    .input-field{
        float: none;
    }
}