@import '../../assets/css/variables.scss';

.collapsible{
    position: relative;

    .collapsible-body{
        padding: 1rem;
        background-color:$contact-collapsible;
    }
    .input-field{
        float: none;
    }
}