.details-container{
    background-color: rgba(243, 243, 243, 0.856);
    min-height: 93%;
    .material-icons.prefix {
        padding-right: 7%;
    }
    
    .contact-email,
    .contact-phone {
        display: inline-block;
        vertical-align: top;
    }
    
    .contact-email {
        margin-bottom: 11%;
    }
    
    .view-main-text.company {
        font-size: 24px;
    }
    
    .view-main-text {
        margin: 6% 0;
    }
}

.loading{
    font-size: 3em;
}

.collapsible {
    background-color: white;
}

.card {
    margin: 4% 0;
    border-radius: 5px;
}