@import '../../assets/css/variables.scss';

.details-container{
    min-height: 93%;
    
    .action-button{
        position: fixed;
        bottom: 10%;
        right: 3%;
    }
    
    .view-main-text.company {
        font-size: 24px;
        font-weight:300;
        color:$dark-grey
    }
    
    .view-main-text {
        margin: 6% 0;
        color:$grey;
    }
    .view-main-text.posting-link{
        color:$active-text;
    }
    .view-main-text.created{
        color:$created-date-text;
    }
}

.loading{
    font-size: 3em;
}

.view-section-header {
    font-size: 1.2rem;
    margin-left: 7%;
}
