@import '../../../assets/css/variables.scss';

.action.row{   
    .edit-note-modal{
        background-color:$modal;
        position:fixed;
        height:100vh;
        width:100%;
        top:0;
        left:0;
        z-index:2;

        .note{
            height:28.5rem;
            background-color:$modal-content;
            width:90%;
            position:relative;
            top:30%;
            left:5%;
            border-radius: 5px;

            .errorNoteMsg{
                color: red;
                font-size: 1rem;
                position: relative;
                bottom: 8rem;

                i{
                    vertical-align: bottom;
                }
            }

            .save{
                margin-top: 5%;
                background-color:$primary-button;
            }

            .exit{
                border: none;
                background-color: transparent;
                position: relative;
                left: 88%;
                top: 11px;
                color:$main-text;
            }
            .trash{
                border: none;
                background-color: transparent;
                position: relative;
                bottom: 71px;
                color:$main-text;
                i{
                    font-size: 2.5em;
                }
            }

            .materialize-textarea {
                max-height: 150px;
                overflow: hidden;
                overflow-y: scroll;
            }

            .add-note{
                margin-top:5%
            }
            .title-header{
                height:10%;
                position:relative;
                top:2%;
            }
        }
    }
}
