
.edit-note-modal{
    background-color:rgba(0,0,0,.75);
    position:fixed;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    z-index:2;

    .note{
        height:40%;
        background-color:white;
        width:90%;
        position:relative;
        top:30%;
        left:5%;
        border-radius: 5px;

        .exit{
            border: none;
            background-color: transparent;
            position: relative;
            left: 88%;
            top: 11px;
        }
        .trash{
            border: none;
            background-color: transparent;
            position: relative;
            bottom: 110px;
            i{
                font-size: 2.5em;
            }
        }

        .materialize-textarea {
            max-height: 150px;
            overflow: hidden;
            overflow-y: scroll;
            min-height: scrollHeight;
        }

        .add-note{
            margin-top:5%
        }
        .title-header{
            height:10%;
            position:relative;
            top:2%;
        }
    }
    .exit-modal{
        position:absolute;
        left:90%;
        top:3%;
    }

}