@import '../../../assets/css/variables.scss';

.add-note-modal{
    background-color:$modal;
    position:fixed;
    height:calc(100% - 56px);
    margin-top:56px;
    width:100%;
    top:0;
    left:0;
    z-index:2;
    min-height:36rem;

    @media only screen and (min-width: 601px){
        height:calc(100% - 64px);
        margin-top:64px;
    }
    

    .note{
        height:28.5rem;
        background-color:$modal-content;
        max-width:28rem;
        min-width:20rem;
        position:relative;
        top:50%;
        transform:translateY(-50%);
        margin:auto;
        border-radius:5px;
        width:90%;
        
        .exit{
            color:$main-text;
        }
        .save{
            margin-top: 5%;
            background-color:$primary-button;
        }

        >button{
            border: none;
            background-color: transparent;
            position: relative;
            left: 88%;
            top: 11px;

        }
        .add-note{
            margin-top:5%
        }
        .title-header{
            height:10%;
            position:relative;
            top:2%;
        }

        .materialize-textarea {
            max-height: 150px;
            overflow: hidden;
            overflow-y: scroll;
            min-height: scrollHeight;
        }
        .materialize-textarea::-webkit-scrollbar {
            display: none;
        }
    }
}