@import '../../assets/css/variables.scss';

.contact-email,
.contact-phone {
    display: inline-block;
    vertical-align: top;
}

.material-icons.prefix {
    padding-right: 7%;
}

.collapsible{ 
    .collapsible-body.col-body{
        padding: 0px;
        background-color:$contact-collapsible;
        color:$main-text;
    }
    .collapsible-header{
        color:$main-text;
    }
}


