.created{
    color:rgb(172, 172, 172);
    font-size:.85em;
}
.row{
    margin-bottom:0;

    .card{
        box-shadow:none;
        
        .card-title{
            color:#26a69a
        }
    }
}