@import '../../assets/css/variables.scss';

.created{
    color:$created-date-text;
    font-size:.85em;
}
.row{
    margin-bottom:0;

    .card{
        overflow: hidden;
        cursor:pointer;
        
        .card-title{
            color:$active-text
        }
        .card-content{
            .title{
                color:$grey;
            }
        }
    }
}