body {
    margin: 0;
    background-color:brown;
    #root{
        height:100vh;
        background-color:white;

        .app-container{
            height:100%;
        }
    }
    .container{
        height:100%;
        width:100%;
    }
}