@import "./variables.scss";

body {
    margin: 0;
    background-color:$tracker-background;
    #root{
        height:100vh;
        background-color:$tracker-background;

        .app-container{
            height:100%;
        }
    }
    .container{
        height:100%;
        width:100%;
    }
}
