$grey:#616161;
$lighten-grey:#757575;
$teal:#26a69a;
$dark-grey:rgba(0, 0, 0, 0.87);
$light-grey:rgba(243, 243, 243, 0.856);
$white:white;
$green:#4caf50;
$red:#f44336;
$blue-grey:#607d8b;




$tracker-background:$light-grey;
$header-text:$dark-grey;
$main-text:$grey;
$active-text:$teal;
$created-date-text:rgb(172, 172, 172);
$contact-collapsible:$white;
$yes-text:$green;
$no-text:$red;
$modal-content:$white;
$modal:rgba(0,0,0,.75);
$note-text:$blue-grey;
$edit-add-icon:$teal;
$primary-button:$blue-grey;
$secondary-button:$lighten-grey;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


@media #{$small-and-down} {
    .app-container{
        background-color: darkgray;
    }
    .add-form-progress{
        width: 80%;
        left: 10%;
    }
}
@media #{$medium-and-up} {
    .app-container{
        background-color: darkgray;
    }
    .add-form-progress{
        width: 80%;
        left: 10%;
    }
}
@media #{$medium-and-down} {
    .app-container{
        background-color: darkgray;
    }
    .add-form-progress{
        width: 80%;
        left: 10%;
    }
}