$grey:#616161;
$lighten-grey:#757575;
$teal:#26a69a;
$dark-grey:rgba(0, 0, 0, 0.87);
$light-grey:rgba(243, 243, 243,1);
$white:white;
$green:#4caf50;
$red:#f44336;
$blue-grey:#607d8b;




$tracker-background:$light-grey;
$header-text:$dark-grey;
$main-text:$grey;
$active-text:$teal;
$created-date-text:rgb(172, 172, 172);
$contact-collapsible:$white;
$yes-text:$green;
$no-text:$red;
$modal-content:$white;
$modal:rgba(0,0,0,.75);
$note-text:$blue-grey;
$edit-add-icon:$teal;
$primary-button:$blue-grey;
$secondary-button:$lighten-grey;
$body-background:rgb(218, 218, 218);