@import '../../assets/css/variables.scss';

span.contact{
    right: 40px;
    position: absolute;
}

.edit-container{
    height: 93%;
    width: 100%;
    overflow-y:scroll;
    .form{
        overflow:scroll;

        form{
            height: 100%;
            width: 100%;
        }
    }
    .delete-prospect{
        position: fixed;
        right: 3%;
        top:8%;
        background-color:$primary-button;
    }
}

.save-button {
    margin-right: 11%;
    background-color:$primary-button;
}

.edit-section-header {
    font-size: 1.2rem;
    margin-left: 7%;
}