@import '../../assets/css/variables.scss';

span.contact{
    right: 40px;
    position: absolute;
}

.edit-container{
    height:calc(100% - 56px);
    width: 100%;
    max-width:992px;
    background-color:$tracker-background;
    @media only screen and (min-width: 601px){
        height:calc(100% - 64px);
    }
    .form::-webkit-scrollbar {
        display: none;
    }
    .form{
        overflow:scroll;
        height:100%;

        form{
            width: 100%;
        }

        .errorMsg{
            color: red;
            font-size: 1rem;
            position: relative;
            margin: 1rem 0;

            i{
                vertical-align: bottom;
            }
        }
    }
    .delete-prospect{
        position: fixed;
        right: 3%;
        top: 4.7rem;
        background-color:$primary-button;
    }
}

.save-button,.save-button:active,.save-button:hover {
    margin-right: 11%;
    background-color:$primary-button;
}
.edit-section-header {
    font-size: 1.2rem;
    margin-left: 7%;
}