@import "../../../assets/css/variables.scss";

.signup-container{
    height:calc(100% - 56px);
    max-width: 992px;
    background-color: $tracker-background;

    .field-input{
        margin: 1rem 0;
    }
}