@import '../../assets/css/variables.scss';
.input-field{
    .material-icons{
        color:$main-text
    }
    input{
        color:$main-text
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}