@import '../../assets/css/variables.scss';

textarea.materialize-textarea.value-true{
    padding: 0;
    min-height: 25px;
}
.materialize-textarea{
    color:$main-text;
}
.materialize-textarea::-webkit-scrollbar {
    display: none;
}