@import '../../assets/css/variables.scss';

.search-container{
    height:calc(100% - 56px);
    overflow-x: hidden;
    transition: 1s ease-in all;
    max-width:992px;
    background-color:$tracker-background;

    @media only screen and (min-width: 601px){
        height:calc(100% - 64px);
    }

    .search-sort{
        position: fixed;
        top: 5.3rem;
        bottom:auto;
        right: 3%;
        padding-top: 10px;
        ul{
            top: 48px;
        }
    }
    .input-field{
        >input{
            width:calc(100% - 36px);
        }
        >button{
            background-color:transparent;
            border:none;
            position: relative;
            top: 10px;
        }
    }
    .total-results{
        margin-top:1.2rem;
        color: $main-text;
    }
}

.search-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

