@import '../../../assets/css/variables.scss';


.delete-confirmation{
    background-color:rgba(0,0,0,.75);
    position:fixed;
    height:calc(100% - 56px);
    margin-top:56px;
    width:100%;
    top:0;
    left:0;
    z-index:2;
    min-height:36rem;

    @media only screen and (min-width: 601px){
        height:calc(100% - 64px);
        margin-top:64px;
    }

    .delete-area{
        height:22.5rem;
        background-color:$modal-content;
        max-width:28rem;
        min-width:20rem;
        position:relative;
        top:50%;
        transform:translateY(-50%);
        margin:auto;
        border-radius:5px;
        width:90%;

        .confirm-icon{
            .icon-text{
                padding:1rem;
                position:relative;
                width:90%;
                left:5%;
                i{
                    font-size:140px;
                    color:$main-text;
                }
            }
        }
        .confirm-text{
            font-size: 1.5rem;
            color:$main-text;
        }
        .confirm-btns{
            padding:1rem;
            button{
                box-shadow:none;
            }
            button:active{
                background-color:rgba(0,0,0,.75);
            }
            div>button{
                color:$yes-text;
            }
            button+button{
                color:$no-text;
            }
        }

    }

}
