.search{
    background-color:rgba(0,0,0,.75);
    position:fixed;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    z-index:2;

    .search-area{
        height:60%;
        background-color:white;
        width:90%;
        position:relative;
        top:20%;
        left:5%;
    }

}
