.search{
    background-color:rgba(0,0,0,.75);
    position:fixed;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    z-index:2;

    .search-area{
        height:80%;
        background-color:white;
        width:90%;
        position:relative;
        top:10%;
        left:5%;
        overflow-y: scroll;
        .row{
            >button{
                border: none;
                background-color: transparent;
                position: relative;
                left: 88%;
                top: 11px;
            }
        }
    }
    

}
